.content .background {
    padding-top: 25px;
    object-fit: cover;
    width: 100%;
    height: 670px;
    position: relative;
}

.content {
    position: relative;
}

.content-text {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
}

.content-text1 {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100vw;
}

.content-text2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 100vw;
    letter-spacing: 2px;
    padding-top: 10px;
}

.content-button {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
}

.content-funcion {
    position: relative;
    top: -105px;
}

.content-request {
    background-color: #304771;
    text-align: center;
}

.content-request img {
    padding-top: 48px;
}

.content-request-title {
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.content-request-description {
    color: #b2bbca;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0 55px 0;
    line-height: 25px;
    width: 81%;
    margin: 0 auto;
}

.content-investigation {
    background-color: #283c61;
    text-align: center;
    height: auto;
}

.content-investigation img {
    padding-top: 45px;
}

.content-investigation-title {
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.content-investigation-description {
    color: #b2bbca;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0 55px 0;
    line-height: 25px;
    width: 81%;
    margin: 0 auto;
}

.content-search {
    background-color: #1e3051;
    text-align: center;
    height: auto;
}

.content-search img {
    padding-top: 45px;
}

.content-search-title {
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.content-search-description {
    color: #b2bbca;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0 55px 0;
    line-height: 25px;
    width: 81%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.who-we-are {
    text-align: center;
}

.hello-lawplus {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #70747c;
    font-size: 14px;
    letter-spacing: 3px;
}

.who-we-are-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: #304771;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}

.who-we-are-description {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: italic;
    color: #777c84;
    font-weight: 400;
    width: 49%;
    letter-spacing: 0.3px;
    padding-top: 70px;
}

.who-we-are-description2 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    color: #777c84;
    padding-top: 40px;
    width: 58%;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}